<app-header></app-header>

<div class="row w-100 vh-100 ">
    <div class="col-md-1"></div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <img src="https://img.lovepik.com/photo/45009/7677.jpg_wh860.jpg" alt="no image" class="w-100">
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <form #loginForm="ngForm" class="shadow p-5 w-100" (ngSubmit)="login()">
            <h3 class="text-center mb-4">Login Form</h3>
            <div class="mb-3">
                <input #adminMail="ngModel" type="text" placeholder="Email" class="form-control" name="mail" [(ngModel)]="email" required email>
                <span *ngIf="adminMail.invalid && adminMail.touched " class="text-danger">*invalid input</span>
            </div>
            <div class="mb-3">
                <input #adminPswd="ngModel" type="text" placeholder="Password" class="form-control" name="pswd" [(ngModel)]="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{4,}$">
                <span *ngIf="adminPswd.invalid && adminPswd.touched " class="text-danger">*invalid input</span>
            </div>

            
            

            <div class="mb-3">
                <button [disabled]="loginForm.invalid" class="btn w-100">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
